@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #fff;
  background-color: #1f2937;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-width: 360px;
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  font-weight: 900;
}

h2 {
  font-size: 24px;
  font-weight: bold;
}

/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #111827;
  border-radius: 6px;
}

/* Customize the scrollbar track when hovering over it */
::-webkit-scrollbar-track {
  border-radius: 100px;
  background-color: #1f2937;
}
